.header {
  height: 15vh;
  background-color: #FDCEB9;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;

  p {
    padding: 10px;
  }
}

.header-text {
  border: 1px solid red;
  width: 50%;
  margin: 1% 2%;
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  font-size: 1.5em;
  letter-spacing: 5px;
  color: black;

  :nth-child(2) {
    color: #a100c9;
    font-style:italic;
  }
  .icon{
    width: .7em;
  }
}

.header-text-right{
  border: 1px solid black;
  max-height: 100%;
  // width:fit-content;
  display: flex;
  flex-flow: column wrap;
  align-items:center;
  justify-content:center;
  :nth-child(3){
    font-size: .5rem;
  }
  :nth-child(4){
    font-size: 3rem;
  }
}

.admin-icon{
  width: 2rem;
}

.sea-icon{
  width: 3em;
}