.header {
  height: 15vh;
  background-color: #6C7599;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  align-items:flex-end;

  p {
    padding: 10px;
  }
}

.header-text {
  width: fit-content;
  margin: 1% 2%;
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  font-size: 1.5em;
  letter-spacing: 5px;
  color: black;

  :nth-child(2) {
    color: white;
    font-style:italic;
  }
  .share-icon{
    color: white;
  }
  .icon{
    width: .7em;
  }
}
.header-text-right{
  display:flex;
  flex-flow: column wrap;
  align-items: flex-end;
  width: fit-content;
  margin-right: 1%;
}

.admin, .site-logo{
  max-width: 100%;
  display:flex;
  flex-flow: row wrap;
  height: fit-content;
  align-items:center;
  .admin-icon{
    width: 1.45rem;
  }
  .admin-text{
    font-size: .85rem;
  }
}

.site-text{
  font-size:3rem;
  color:#bc91ee;
}

.site-icon{
  width: 3em;
}
