.card {
  border: 2px solid rgb(32, 223, 230);
  background-color: #ecd4c6;
  height: 25em;
  width: 18em;
  margin: 1%;
}

.card-header {
  height: 40%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.card-header-txt {
  z-index: 100;
  font-size: 1.25rem;
  text-align: right;
  color: white;
  padding: 10px;
  text-shadow: 3px 2px 3px black;

  p {
    font-size: 2.3rem;
  }
}

.share-arrow{
  width: 2.5em;
  position: absolute;
  left:4%;
  top: 5%;
  filter: drop-shadow(3px 2px 3px rgb(129, 129, 129));
}

.card-header-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.card-main-txt {
  font-size: 1.25rem;
  padding: 2.5%;

  :nth-child(2) {
    font-size: .9rem;
    margin-bottom: 10px;
    color: grey;
  }

  :nth-child(3) {
    background-color: #e2cae9;
    padding: 2% 5%;
    text-align: left;
  }

  a {
    text-decoration: none;
    font-size: 1.15rem;
    color: black;
  }

  :nth-child(4) {
    font-size: 1rem;
    margin-top: 4.5%;
  }

  :nth-child(6) {
    font-size: 1rem;
    margin-top: 6%;
  }

  :nth-child(7){
    font-size: 2.5rem;
    color:#00bbb2;
  }


}