.grid-wrapper{
  margin: 0 auto;
}

.share-text{
  font-size: 2em;
  font-style:italic;
  color: white;
  margin: 2% 0 1% 2%;
}

.grid {
  // height: 80vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content:space-between;
}

@media screen and (max-width: 737px){
  .share-text{
    text-align:center;
  }

}